:root {
    --background: rgb(131, 12, 12);
    --white: rgba(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--background);
    color: var(--white);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.error404 {
    font-size: 14rem;
}

span {
    -webkit-background-clip: text;
    background-clip: text;
}

.back {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.back a {
    color: var(--white);
}

.title {
    font-size: 3rem;
}
